<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
</head>
<div th:replace="admin/navbar :: navbar"></div>
<div class="container">
	<br /> <br />
	<div class="card">
		<form method="post" th:action="@{/admin/posts}" th:object="${post}">
			<div class="form-group card-body">
				<label>Title</label> <input type="text" class="form-control"
					id="title" placeholder="Enter Title" name="title"
					th:field="*{title}">
			</div>

			<p th:if="${#fields.hasErrors('title')}" class="text-danger"
				th:errors="*{title}"></p>

			<div class="form-group card-body">
				<label>Title</label> <input type="text" class="form-control"
					id="shortDescription" placeholder="Enter Short Description"
					name="shortDescription" th:field="*{shortDescription}">
			</div>

			<p th:if="${#fields.hasErrors('shortDescription')}"
				class="text-danger" th:errors="*{shortDescription}"></p>

			<div class="form-group card-body">
				<label>Content</label>
				<textarea class="form-control" id="content" rows="10" name="content"
					th:field="*{content}"></textarea>
			</div>

			<p th:if="${#fields.hasErrors('content')}" class="text-danger"
				th:errors="*{content}"></p>

			<div class="form-group card-body">
				<button type="submit" class="btn btn-primary card-body">Submit</button>
			</div>
		</form>
	</div>
	<br /> <br /> <br /> <br />
	<div th:replace="admin/footer :: footer"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
<script
	src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
                        ClassicEditor
                                .create( document.querySelector( '#content' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
</script>

</body>
</html>

