<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Posts</title>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:replace="admin/navbar :: navbar"></div>

    <div class="container">
        <div class="row">
            <h1>List Blog Posts</h1>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <form class="form-inline" th:action="@{/admin/posts/search}">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="form-control" name="query" />
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br />
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
            <th style="width:10%">#</th>
            <th style="width:20%" >Post Title</th>
            <th style="width:30%" >Post Short Description</th>
            <th style="width:20%">Post Created On</th>
            <th style="width:20%" >Actions</th>
            </thead>
            <tbody>
            <tr th:each = "post, postStat : ${posts}">
                <td th:text="${postStat.count}">1</td>
                <td th:text="${post.title}">post title</td>
                <td th:text="${post.shortDescription}">post short description</td>
                <td th:text="${#temporals.format(post.createdOn,'dd MMM yyyy')}">10 JUL 2022</td>
                <td>
                    <a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" onmouseover="bigImg(this)" onmouseout="normalImg(this)" > <i class="fa fa-edit" style="font-size:40px;color:green "></i></a>
                    <a th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}"> <i class="fa fa-remove" style="font-size:40px;color:red"></i></a>
                    <a th:href="@{/admin/posts/{postUrl}/view(postUrl=${post.url})}"><i class="fa fa-eye" style="font-size:40px;color:info"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <script>
function bigImg(x) {
  x.style.height = "64px";
  x.style.width = "64px";
}

function normalImg(x) {
  x.style.height = "32px";
  x.style.width = "32px";
}
</script>
    <br /><br />

    <div th:replace="admin/footer :: footer"></div>
</body>
</html>
